<html>
    <head>
        <title>Blog de Seulgi</title>
    </head>
    <body>
        <div>
            <h1>Blog de Seulgi</h1>
            <p>Hi there!</p>
            <p>It works!</p>
        </div>
        <div>
            <p>published: 2020. 7. 14</p>
            <h2><a href="">My first post</a></h2>
        </div>
        <div>
            <p>published: 2020. 7. 14</p>
            <h2><a href="">My first post</a></h2>
        </div>
        <div>
            <h1>Contact</h1>
        </div>
        <div>
            created: 2020. 07. 14
        </div>

    </body>
</html>